@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 180 100% 94.1%;
    --foreground: 210 40% 9.8%;
    --card: 180 60% 99%;
    --card-foreground: 210 40% 9.8%;
    --popover: 180 60% 99%;
    --popover-foreground: 210 40% 9.8%;
    --primary: 195 100% 45%;
    --primary-foreground: 195 85% 95.1%;
    --secondary: 180 50% 90%;
    --secondary-foreground: 210 40% 9.8%;
    --muted: 180 30% 92%;
    --muted-foreground: 210 20% 45.1%;
    --accent: 210 100% 56%;
    --accent-foreground: 210 85% 95.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 20% 85.8%;
    --input: 180 20% 89.8%;
    --ring: 195 100% 45%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 40% 9.8%;
    --foreground: 180 100% 94.1%;
    --card: 210 40% 12.8%;
    --card-foreground: 180 100% 94.1%;
    --popover: 210 40% 9.8%;
    --popover-foreground: 180 100% 94.1%;
    --primary: 195 100% 50%;
    --primary-foreground: 210 40% 9.8%;
    --secondary: 210 40% 15%;
    --secondary-foreground: 180 100% 94.1%;
    --muted: 210 40% 15%;
    --muted-foreground: 180 20% 65.1%;
    --accent: 210 100% 56%;
    --accent-foreground: 210 40% 9.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 20%;
    --input: 210 40% 20%;
    --ring: 195 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
